  .text
        {
            text-align: center;
            font-size: 30px;
            color:rgb(70, 122, 199);
        }
        @media(min-width: 1000px)
        {
            .text
            {
                font-size: 50px;
            }
        }
        @media (min-width:700px) and (max-width:999px)
        {
            .text
            {
                font-size: 40px;
            }
        }
        @media(max-width:699px)
        {
            .text
            {
                font-size: 25px;
            }
        }    